@model PetStore.Models.DANHMUC

@{
    ViewBag.Title = "Edit";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml";
}
@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    <!-- Content Wrapper. Contains page content -->
    <div class="content-wrapper">
        <!-- Main content -->
        <section class="content">
            @Html.Partial("Message")
            <!-- Default box -->
            <div class="card pt-2">
                <div class="card-header">
                    <div class="row">
                        <div class="col-md-8  text-black">
                            <strong>CẬP NHẬT DANH MỤC</strong>
                        </div>
                        <div class="col-md-4 text-black text-right">
                            <a class=" btn-back btn btn-sm" href="@Url.Action("Index","DanhMuc")"> Trở về</a>
                            <button class="btn btn-sm btn-success" type="submit" name="create">Lưu</button>
                        </div>
                    </div>
                </div>
                <div class="card-body">
                    <table class="table table-bordered table-hover">
                        <thead>

                        </thead>

                        <tbody>
                            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                            @Html.HiddenFor(model => model.MaDM)

                            <div class="form-group">
                                @Html.LabelFor(model => model.TenDM, htmlAttributes: new { @class = "control-label col-md-2" })
                                <div class="col-md-10">
                                    @Html.EditorFor(model => model.TenDM, new { htmlAttributes = new { @class = "form-control" } })
                                    @Html.ValidationMessageFor(model => model.TenDM, "", new { @class = "text-danger" })
                                </div>
                            </div>
                        </tbody>


                    </table>
                </div>
                <!-- /.card-body -->

            </div>
            <!-- /.card -->

        </section>
        <!-- /.content -->
    </div>
    <!-- /.content-wrapper -->
}

