@model PetStore.Models.DONHANG

@{
    ViewBag.Title = "Details";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml";
}

<!-- Content Wrapper. Contains page content -->
<div class="content-wrapper">
    <!-- Main content -->
    <section class="content">

        <!-- Default box -->
        <div class="card pt-2">
            <div class="card-header">
                <div class="row">
                    <div class="col-md-8  text-black">
                        <strong>CHI TIẾT ĐƠN HÀNG</strong>
                    </div>
                    <div class="col-md-4 text-black text-right">
                        <a class=" btn-back btn btn-sm" href="@Url.Action("Index","DonHang")"> Trở về</a>
                        <a class=" btn-default btn btn-sm" href="@Url.Action("Edit", "DonHang", new { id = Model.MaDH })">Chỉnh sửa</a>
                    </div>
                </div>
            </div>

            <div class="card-body">
                <table class="table table-bordered">
                    <thead>
                        <tr>
                            <th class="w-25">Tên trường</th>
                            <th>Nội dung</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>
                                @Html.DisplayNameFor(model => model.KHACHHANG.TenKH)
                            </td>

                            <td>
                                @Html.DisplayFor(model => model.KHACHHANG.TenKH)
                            </td>
                        </tr>
                        <tr>
                            <td>
                                @Html.DisplayNameFor(model => model.PHUONGTHUCGIAOHANG.TenPTGH)
                            </td>

                            <td>
                                @Html.DisplayFor(model => model.PHUONGTHUCGIAOHANG.TenPTGH)
                            </td>
                        </tr>
                        <tr>
                            <td>
                                @Html.DisplayNameFor(model => model.PHUONGTHUCTHANHTOAN.TenPTTT)
                            </td>

                            <td>
                                @Html.DisplayFor(model => model.PHUONGTHUCTHANHTOAN.TenPTTT)
                            </td>
                        </tr>
                        <tr>
                            <td>
                                @Html.DisplayNameFor(model => model.TRANGTHAI.TenTT)
                            </td>

                            <td>
                                @Html.DisplayFor(model => model.TRANGTHAI.TenTT)
                            </td>
                        </tr>
                        <tr>
                            <td>
                                @Html.DisplayNameFor(model => model.TenNguoiNhan)
                            </td>

                            <td>
                                @Html.DisplayFor(model => model.TenNguoiNhan)
                            </td>
                        </tr>
                        <tr>
                            <td>
                                @Html.DisplayNameFor(model => model.DiaChiNhan)
                            </td>

                            <td>
                                @Html.DisplayFor(model => model.DiaChiNhan)
                            </td>
                        </tr>
                        <tr>
                            <td>
                                @Html.DisplayNameFor(model => model.SĐT)
                            </td>

                            <td>
                                @Html.DisplayFor(model => model.SĐT)
                            </td>
                        </tr>
                        <tr>
                            <td>
                                @Html.DisplayNameFor(model => model.NgayDatHang)
                            </td>

                            <td>
                                @Html.DisplayFor(model => model.NgayDatHang)
                            </td>
                        </tr>
                        <tr>
                            <td>
                                @Html.DisplayNameFor(model => model.NgayGiaoHang)
                            </td>

                            <td>
                                @Html.DisplayFor(model => model.NgayGiaoHang)
                            </td>
                        </tr>
                        <tr>
                            <td>
                                @Html.DisplayNameFor(model => model.Note)
                            </td>

                            <td>
                                @Html.DisplayFor(model => model.Note)
                            </td>
                        </tr>
                        <tr>
                            <td>
                                @Html.DisplayNameFor(model => model.TongTien)
                            </td>

                            <td>
                                <p>@String.Format("{0:#,##0.000}", Model.TongTien) VNĐ</p>
                            </td>
                        </tr>
                    </tbody>
                </table>

            </div>
            <!-- /.card-body -->

        </div>
        <!-- /.card -->

    </section>
    <!-- /.content -->
</div>
<!-- /.content-wrapper -->

