@model IEnumerable<PetStore.Models.DONHANG>

@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.KHACHHANG.TenKH)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PHUONGTHUCGIAOHANG.TenPTGH)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PHUONGTHUCTHANHTOAN.TenPTTT)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TRANGTHAI.TenTT)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TenNguoiNhan)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DiaChiNhan)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.SĐT)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.NgayDatHang)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.NgayGiaoHang)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Note)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TongTien)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.KHACHHANG.TenKH)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.PHUONGTHUCGIAOHANG.TenPTGH)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.PHUONGTHUCTHANHTOAN.TenPTTT)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TRANGTHAI.TenTT)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TenNguoiNhan)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DiaChiNhan)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.SĐT)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.NgayDatHang)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.NgayGiaoHang)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Note)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TongTien)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.MaDH }) |
            @Html.ActionLink("Details", "Details", new { id=item.MaDH }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.MaDH })
        </td>
    </tr>
}

</table>
