@model IEnumerable<PetStore.Models.TRANGTHAI>

@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.TenTT)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.TenTT)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.MaTT }) |
            @Html.ActionLink("Details", "Details", new { id=item.MaTT }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.MaTT })
        </td>
    </tr>
}

</table>
