@model IEnumerable<PetStore.Models.YKIENKHACHHANG>

@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.TAIKHOAN.MatKhau)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.NgayDang)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.SĐT)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Email)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.NoiDung)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.TAIKHOAN.MatKhau)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.NgayDang)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.SĐT)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Email)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.NoiDung)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.MaYKKH }) |
            @Html.ActionLink("Details", "Details", new { id=item.MaYKKH }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.MaYKKH })
        </td>
    </tr>
}

</table>
