@model PetStore.Models.KHACHHANG

@{
    ViewBag.Title = "DangKy";
    Layout = "~/Views/Shared/_Layout.cshtml";
    <link href="~/CSS/BT.css" rel="stylesheet" />
}

<h2>DangKy</h2>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <h4>KHACHHANG</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group">
            <div class="col-md-10">            
                @Html.EditorFor(model => model.TenKH, new { htmlAttributes = new { @class = "form-control" , @placeholder="Họ và tên"
                    } })
                @Html.ValidationMessageFor(model => model.TenKH, "", new { @class = "text-danger" })
                @ViewData["Loi1"]
            </div>
            
        </div>

        <div class="form-group">
            <div class="col-md-10">
                @*@Html.EditorFor(model => model.GioTinh, new { htmlAttributes = new { @class = "form-control" } })*@
                @Html.DropDownListFor(model => model.GioTinh, new List<SelectListItem>
               {
                 new SelectListItem { Text = "Nam", Value = "Nam"},
                 new SelectListItem { Text = "Nữ", Value = "Nữ"},
                 new SelectListItem { Text = "Khác", Value = "Khác"},
              }, "Chọn giới tính",
              new
                   {
                       @Style = "Width:500px;height:40px;",
              @class = "form-control input-lg"
                   })
                @Html.ValidationMessageFor(model => model.GioTinh, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-10">
                @Html.EditorFor(model => model.NgaySinh, new { htmlAttributes = new { @class = "form-control", type="date" , @placeholder = "Ngày sinh" } })
                @Html.ValidationMessageFor(model => model.NgaySinh, "", new { @class = "text-danger" })
                @ViewData["Loi3"]
            </div>
            
        </div>

        <div class="form-group">
            <div class="col-md-10">
                @Html.EditorFor(model => model.DiaChi, new { htmlAttributes = new { @class = "form-control", @placeholder="Địa chỉ" } })
                @Html.ValidationMessageFor(model => model.DiaChi, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">

            <div class="col-md-10">
                @Html.EditorFor(model => model.SĐT, new { htmlAttributes = new { @class = "form-control", @placeholder= "Số điện thoại" } })
                @Html.ValidationMessageFor(model => model.SĐT, "", new { @class = "text-danger" })
                @ViewData["Loi4"]
            </div>
            
        </div>
        <div class="form-group">

            <div class="col-md-10">
                @Html.EditorFor(model => model.Email, new { htmlAttributes = new { @class = "form-control", @placeholder="Email" } })
                @Html.ValidationMessageFor(model => model.Email, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="form-group">

            <div class="col-md-10">
                @Html.EditorFor(model => model.TenDangNhap, new { htmlAttributes = new { @class = "form-control", @placeholder="Tên đăng nhập" } })
                @Html.ValidationMessageFor(model => model.TenDangNhap, "", new { @class = "text-danger" })
                @ViewData["Loi2"]
            </div>
            
        </div>

        <div class="form-group">
            <div class="col-md-10">
                @Html.EditorFor(model => model.MatKhau, new { htmlAttributes = new { @class = "form-control", @placeholder="Mật khẩu" } })
                @Html.ValidationMessageFor(model => model.MatKhau, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="form-group">
            <label class="control-label col-md-2" for="MatKhauXacNhan">

            </label>
            <div class="col-md-10">
                <input class="form-control text-box single-line input-validation-error" placeholder="Nhập lại mật khẩu"
                       data-val="true" data-val-required="Phải nhập mật khẩu xác nhận!" id="nhaplaimatkhau" name="nhaplaimatkhau" type="password" value="" ariadescribedby="nhaplaimatkhau-error" aria-invalid="true">
                @ViewData["MatKhauGiongNhau"]
            </div>
            
        </div>
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>
