@model PetStore.Models.KHACHHANG

@{
    ViewBag.Title = "Delete";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml";
}

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    <!-- Content Wrapper. Contains page content -->
    <div class="content-wrapper">
        <!-- Main content -->
        <section class="content">

            <!-- Default box -->
            <div class="card pt-2">
                <div class="card-header">
                    <div class="row">
                        <div class="col-md-8  text-black">
                            <strong class="text-danger">TIẾN HÀNH XÓA KHÁCH HÀNG</strong>
                        </div>
                        <div class="col-md-4 text-black text-right">
                            <a class=" btn-back btn btn-sm" href="@Url.Action("Index","KhachHang")"> Trở về</a>
                            <button class="btn btn-sm btn-danger" type="submit" name="create">Xóa</button>
                        </div>
                    </div>
                </div>
                <div class="card-body">

                    <dl class="dl-horizontal">
                        <dt>
                            @Html.DisplayNameFor(model => model.TAIKHOAN.TenDangNhap)
                        </dt>

                        <dd>
                            @Html.DisplayFor(model => model.TAIKHOAN.TenDangNhap)
                        </dd>

                        <dt>
                            @Html.DisplayNameFor(model => model.TenKH)
                        </dt>

                        <dd>
                            @Html.DisplayFor(model => model.TenKH)
                        </dd>

                        <dt>
                            @Html.DisplayNameFor(model => model.GioTinh)
                        </dt>

                        <dd>
                            @Html.DisplayFor(model => model.GioTinh)
                        </dd>

                        <dt>
                            @Html.DisplayNameFor(model => model.NgaySinh)
                        </dt>

                        <dd>
                            @Html.DisplayFor(model => model.NgaySinh)
                        </dd>

                        <dt>
                            @Html.DisplayNameFor(model => model.DiaChi)
                        </dt>

                        <dd>
                            @Html.DisplayFor(model => model.DiaChi)
                        </dd>

                        <dt>
                            @Html.DisplayNameFor(model => model.SĐT)
                        </dt>

                        <dd>
                            @Html.DisplayFor(model => model.SĐT)
                        </dd>

                        <dt>
                            @Html.DisplayNameFor(model => model.Email)
                        </dt>

                        <dd>
                            @Html.DisplayFor(model => model.Email)
                        </dd>

                        <dt>
                            @Html.DisplayNameFor(model => model.DiemTichLuy)
                        </dt>

                        <dd>
                            @Html.DisplayFor(model => model.DiemTichLuy)
                        </dd>

                    </dl>
                </div>
                <!-- /.card-body -->

            </div>
            <!-- /.card -->

        </section>
        <!-- /.content -->
    </div>
    <!-- /.content-wrapper -->

}
