@model PetStore.Models.KHACHHANG

@{
    ViewBag.Title = "Details";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml";
}

<!-- Content Wrapper. Contains page content -->
<div class="content-wrapper">
    <!-- Main content -->
    <section class="content">

        <!-- Default box -->
        <div class="card pt-2">
            <div class="card-header">
                <div class="row">
                    <div class="col-md-8  text-black">
                        <strong>CHI TIẾT KHÁCH HÀNG</strong>
                    </div>
                    <div class="col-md-4 text-black text-right">
                        <a class=" btn-back btn btn-sm" href="@Url.Action("Index","KhachHang")"> Trở về</a>
                        <a class=" btn-default btn btn-sm" href="@Url.Action("Edit", "KhachHang", new { id = Model.MaKH })">Chỉnh sửa</a>
                    </div>
                </div>
            </div>

            <div class="card-body">
                <table class="table table-bordered">
                    <thead>
                        <tr>
                            <th class="w-25">Tên trường</th>
                            <th>Nội dung</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>
                                @Html.DisplayNameFor(model => model.TenDangNhap)
                            </td>

                            <td>
                                @Html.DisplayFor(model => model.TenDangNhap)
                            </td>
                        </tr>
                        <tr>
                            <td>
                                @Html.DisplayNameFor(model => model.MatKhau)
                            </td>

                            <td>
                                @Html.DisplayFor(model => model.MatKhau)
                            </td>
                        </tr>
                        <tr>
                            <td>
                                @Html.DisplayNameFor(model => model.TenKH)
                            </td>

                            <td>
                                @Html.DisplayFor(model => model.TenKH)
                            </td>
                        </tr>
                        <tr>
                            <td>
                                @Html.DisplayNameFor(model => model.GioTinh)
                            </td>

                            <td>
                                @Html.DisplayFor(model => model.GioTinh)
                            </td>
                        </tr>
                        <tr>
                            <td>
                                @Html.DisplayNameFor(model => model.NgaySinh)
                            </td>

                            <td>
                                @Html.DisplayFor(model => model.NgaySinh)
                            </td>
                        </tr>
                        <tr>
                            <td>
                                @Html.DisplayNameFor(model => model.DiaChi)
                            </td>

                            <td>
                                @Html.DisplayFor(model => model.DiaChi)
                            </td>
                        </tr>
                        <tr>
                            <td>
                                @Html.DisplayNameFor(model => model.SĐT)
                            </td>

                            <td>
                                @Html.DisplayFor(model => model.SĐT)
                            </td>
                        </tr>
                        <tr>
                            <td>
                                @Html.DisplayNameFor(model => model.Email)
                            </td>

                            <td>
                                @Html.DisplayFor(model => model.Email)
                            </td>
                        </tr>
                        <tr>
                            <td>
                                @Html.DisplayNameFor(model => model.DiemTichLuy)
                            </td>

                            <td>
                                @Html.DisplayFor(model => model.DiemTichLuy)
                            </td>
                        </tr>
                    </tbody>
                </table>

            </div>
            <!-- /.card-body -->

        </div>
        <!-- /.card -->

    </section>
    <!-- /.content -->
</div>
<!-- /.content-wrapper -->
