@model PetStore.Models.SANPHAM

@{
    ViewBag.Title = "Detail";

    Layout = "~/Views/Shared/_Layout.cshtml";
    <link href="~/CSS/BT.css" rel="stylesheet" />
}

<h2></h2>

<div>
    <h4>THÔNG TIN CHI TIẾT SẢN PHẨM</h4>
    <hr />
    <dl class="dl-horizontal">
        <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12" >
            <div class="container bootdey">
                <div class="product-list">
                    <div class="col-md-4">
                        <div class="card border-info mb-3" style="max-width: 1200px;">
                            <section class="panel">

                                <div class="pro-img-box">
                                    <img src="@Model.Hinh" alt="" />
                                </div>
                                <div class="panel-body text-center">
                                    <h4>
                                        <a href="#" class="pro-title">
                                            @Model.TenSP
                                        </a>
                                    </h4>
                                    <p class="price">@String.Format("{0:#,##0.000}", Model.DonGia) VNĐ</p>
                                </div>
                            </section>
                        </div>
                        <div class="mota">
                            <h2 >Mô tả:</h2>
                            <p >@Model.MoTa</p>
                            <h2 >Đối tượng:</h2>
                            <p >@Html.DisplayFor(model => model.LOAIPET.TenLoaiPet)</p>
                            <h2 >Nhà cung cấp:</h2>
                            <p >@Html.DisplayFor(model => model.NHACUNGCAP.TenNCC)</p>
                            <h2 >Số lượng còn:</h2>
                            <p >@Model.SoLuong</p>
                        </div>                      
                        <div class="DatMua" style="">
                            <a class="btn btn-success" href="@Url.Action("ThemGioHang", "GioHang",
                                                    new { @id = Model.MaSP, @strURL = Request.Url.ToString() })">Đặt mua</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </dl>
</div>
<style>
.mota{
    font-size: 20px;
    width: 500px;
}
</style>
