@model PetStore.Models.SANPHAM

@{
    ViewBag.Title = "Detail";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2></h2>

<div>
    <h4>THÔNG TIN CHI TIẾT SẢN PHẨM</h4>
    <hr />
    <dl class="dl-horizontal">
        <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
            <div class="container bootdey">
                <div class="product-list">
                    <div class="col-md-4">
                        <div class="card border-info mb-3" style="max-width: 15rem;">
                            <section class="panel">

                                <div class="pro-img-box">
                                    <img src="@Model.Hinh" alt="" />
                                </div>
                                <div class="panel-body text-center">
                                    <h4>
                                        <a href="#" class="pro-title">
                                            @Model.TenSP
                                        </a>
                                    </h4>
                                    <p class="price">@String.Format("{0:#,##0.000}", Model.DonGia) VNĐ</p>
                                </div>
                            </section>
                        </div>
                        <h2 style="font-size:20px">Mô tả:</h2>
                        <p style="width: 500px">@Model.MoTa</p>
                        <h2 style="font-size:20px">Đối tượng:</h2>
                        <p style="width: 500px">@Html.DisplayFor(model => model.LOAIPET.TenLoaiPet)</p>
                        <div class="DatMua" style="">
                            <a class="btn btn-success" href="@Url.Action("ThemGioHang", "GioHang",
                                                    new { @id = Model.MaSP, @strURL = Request.Url.ToString() })">Đặt mua</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </dl>
</div>
