<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MeMeow.xyz</title>
    <link href="~/Content/bootstrap.css" rel="stylesheet" />
    <script src="~/Scripts/bootstrap.bundle.min.js"></script>
    <link href="~/CSS/BT.css" rel="stylesheet" />
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body class="p-3 m-0 border-0 bd-example">
    @*menu1*@
    <nav class="navbar navbar-expand-lg sticky-top bg-body-tertiary" style="background-color: #cdb8cc;">
        <div class="container-fluid">
            <div id="trangchu">
                <img alt="Trang chủ" href="/DanhSachSanPham/Index" src="~/Content/images/homeicon.png">
                <a class="navbar-brand" href="/DanhSachSanPham/Index">Trang Chủ</a>
            </div>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarTogglerDemo01" aria-controls="navbarTogglerDemo01" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarTogglerDemo01">
                <ul class="navbar-nav me-auto my-2 my-lg-0 navbar-nav-scroll" style="--bs-scroll-height: 100px;">

                    <li class="nav-item dropdown" id="dog">
                        <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                            <img alt="Chó" src="~/Content/images/dog icon.png">
                            CHÓ
                        </a>
                        <ul class="dropdown-menu">
                            @*<li>@Html.Partial("~/Views/GioHang/GioHangPartial.cshtml")</li>*@
                            <li><a class="dropdown-item" href="#">HẠT KHÔ</a></li>
                            <li><a class="dropdown-item" href="#">THỨC ĂN ƯỚT</a></li>
                            <li><a class="dropdown-item" href="#">XƯƠNG VÀ BÁNH THƯỞNG</a></li>
                            <li><a class="dropdown-item" href="#">ĐỒ CHƠI</a></li>
                            <li><a class="dropdown-item" href="#">CHUỒNG RÀO</a></li>
                            <li><a class="dropdown-item" href="#">VỆ SINH</a></li>
                        </ul>
                    </li>
                    <li class="nav-item dropdown" id="cat">
                        <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                            <img alt="Mèo" src="~/Content/images/caticon.png">
                            MÈO
                        </a>
                        <ul class="dropdown-menu">
                            <li><a class="dropdown-item" href="#">HẠT KHÔ</a></li>
                            <li><a class="dropdown-item" href="#">THỨC ĂN ƯỚT</a></li>
                            <li><a class="dropdown-item" href="#">XƯƠNG VÀ BÁNH THƯỞNG</a></li>
                            <li><a class="dropdown-item" href="#">ĐỒ CHƠI</a></li>
                            <li><a class="dropdown-item" href="#">CHUỒNG RÀO</a></li>
                            <li><a class="dropdown-item" href="#">VỆ SINH</a></li>
                            <li><a class="dropdown-item" href="#">TRỤ CÀO MÓNG</a></li>
                        </ul>
                    </li>
                    <li class="nav-item dropdown" id="chuot">
                        <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                            <img src="~/Content/images/hamter.png" />
                            CHUỘT HAMTER
                        </a>
                        <ul class="dropdown-menu">
                            <li><a class="dropdown-item" href="#">CHƯA CÓ SẢN PHẨM</a></li>
                        </ul>
                    </li>
                    <form class="d-flex" role="search" method="post" action="/DanhSachSanPham/Search">
                            <input class="form-control me-2" name="keyword" type="search" placeholder="Search" aria-label="Search">
                        <button class="btn btn-outline-success" type="submit">Search</button>
                    </form>
                    <div class="giohang">
                        <div class="number-cart">
                            <a href="@Url.Action("GioHang","GioHang")">
                                <button type="button" class="btn btn-outline-success">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="35" height="35" fill="currentColor" class="bi bi-cart-plus-fill" viewBox="0 0 16 16">
                                        <path d="M.5 1a.5.5 0 0 0 0 1h1.11l.401 1.607 1.498 7.985A.5.5 0 0 0 4 12h1a2 2 0 1 0 0 4 2 2 0 0 0 0-4h7a2 2 0 1 0 0 4 2 2 0 0 0 0-4h1a.5.5 0 0 0 .491-.408l1.5-8A.5.5 0 0 0 14.5 3H2.89l-.405-1.621A.5.5 0 0 0 2 1H.5zM6 14a1 1 0 1 1-2 0 1 1 0 0 1 2 0zm7 0a1 1 0 1 1-2 0 1 1 0 0 1 2 0zM9 5.5V7h1.5a.5.5 0 0 1 0 1H9v1.5a.5.5 0 0 1-1 0V8H6.5a.5.5 0 0 1 0-1H8V5.5a.5.5 0 0 1 1 0z" />
                                    </svg>
                                </button>
                       
                            </a>                          
                            <span class="number-notice">
                                @Html.Action("GiohangPartial", "Giohang")
                            </span>
                            <div class="">

                            </div>
                            <div class="cart-list">
                                <h3><img src="~/Content/images/giohangtrong.png" />Không có sản phẩm</h3>

                                @*<h4 class="has-cart-list">Sản phẩm đã thêm</h4>
                                <ul class="has-cart-list-item">
                                    <li class="has-cart-item">
                                        <img src="~/Content/images/sp17.jpg" alt="Alternate Text" class="has-cart-img" />
                                        <div class="has-cart-item-info">

                                        </div>
                                    </li>
                                </ul>*@
                            </div>
                        </div>
                    </div>
                </ul>
                <div class="dangky" style="margin: 10px;">
                    <a href="/NguoiDung/Dangky">Đăng ký</a>
                </div>
                <div class="dangnhap">
                    <a>Đăng nhập</a>
                </div>
            </div>
        </div>
    </nav>
    @*banner*@
    <div class="slide">
        <div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="carousel">

            <div class="carousel-inner">
                <div class="carousel-item active" data-bs-interval="5000">
                    <img src="~/Content/images/banner2.png" class="d-block w-100" alt="...">
                </div>
                <div class="carousel-item" data-bs-interval="5000">
                    <img src="~/Content/images/banner1.png" class="d-block w-100" alt="...">
                </div>
                <div class="carousel-item" data-bs-interval="5000">
                    <img src="~/Content/images/banner3.png" class="d-block w-100" alt="...">
                </div>
                <div class="carousel-indicators">
                    <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
                    <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1" aria-label="Slide 2"></button>
                    <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2" aria-label="Slide 3"></button>
                </div>
            </div>
            <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Previous</span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Next</span>
            </button>

        </div>
    </div>
    @*menu 2*@
    @*<nav class="navbar navbar-expand-lg bg-body-tertiary col-auto">
            <div class="menu2">
                <div class="container">
                    <div class="logo">
                        <img src="~/Content/images/logo.png" />
                    </div>
                    <div class="timkiem ">
                        <form class="d-flex mt-0" role="search">
                            <input class="form-control col-md-8 search_input me-2" type="search" placeholder="Search" aria-label="Search">
                            <button class="btn btn-outline-success" type="submit">Search</button>
                        </form>
                    </div>
                    <div class="giohang">
                        <button type="button" class="btn btn-outline-success">
                            <svg xmlns="http://www.w3.org/2000/svg" width="35" height="35" fill="currentColor" class="bi bi-cart-plus-fill" viewBox="0 0 16 16">
                                <path d="M.5 1a.5.5 0 0 0 0 1h1.11l.401 1.607 1.498 7.985A.5.5 0 0 0 4 12h1a2 2 0 1 0 0 4 2 2 0 0 0 0-4h7a2 2 0 1 0 0 4 2 2 0 0 0 0-4h1a.5.5 0 0 0 .491-.408l1.5-8A.5.5 0 0 0 14.5 3H2.89l-.405-1.621A.5.5 0 0 0 2 1H.5zM6 14a1 1 0 1 1-2 0 1 1 0 0 1 2 0zm7 0a1 1 0 1 1-2 0 1 1 0 0 1 2 0zM9 5.5V7h1.5a.5.5 0 0 1 0 1H9v1.5a.5.5 0 0 1-1 0V8H6.5a.5.5 0 0 1 0-1H8V5.5a.5.5 0 0 1 1 0z" />
                            </svg>
                        </button>
                    </div>
                </div>
            </div>
        </nav>
        <hr />*@
    @*menu 3*@
    <!--<div class="menu3">
    <div class="sanphamchung">
        <a href="#" class="nav-link">SẢN PHẨM CHUNG</a>
    </div>
    <nav class="style-5 hidden-xs hidden-sm">
        <ul id="primary-menu">-->
    @*trang chu*@
    <!--<li class="trangchu">
                    <a href="/">
                        <div>
                            <div class="menu_icon hidden-xs hidden-sm">
                                <img alt="Trang chủ" src="~/Content/images/homeicon.png">
                                Trang chủ
                            </div>

                        </div>
                    </a>
                </li>
                <li class="cho">
                    <a class="menu" href="/cho-dogs">
                        <div>
                            <div class="menu_icon hidden-xs hidden-sm">
                                <img alt="Chó" src="~/Content/images/dog icon.png">
                                Chó
                            </div>

                        </div>
                    </a>
                </li>
                <li class="meo">
                    <a class="menu" href="/meo-cats">
                        <div>
                            <div class="menu_icon hidden-xs hidden-sm">
                                <img alt="Mèo" src="~/Content/images/caticon.png">
                                Mèo
                            </div>

                        </div>
                    </a>
                </li>
                <li class="smallpet">
                    <a class="menu" href="/tho-small-pet">
                        <div>
                            <div class="menu_icon hidden-xs hidden-sm">
                                <img alt="Small Pet" src="~/Content/images/rabbiticon.png">
                                Small Pet
                            </div>

                        </div>
                    </a>
                </li>
            </ul>
        </nav>
    </div>-->
    <!--<nav id="primary-menu" class="style-5 hidden-xs hidden-sm">
    <ul>
        <li class="">
            <a href="/">
                <div>
                    <div class="menu_icon hidden-xs hidden-sm">

                        <img alt="Trang chủ" src="//bizweb.dktcdn.net/100/240/380/themes/570657/assets/main_menu_icon_1.png?1646886129389">

                    </div>
                    Trang chủ
                </div>
            </a>
        </li>-->
    <!-- normal sub menu -->
    <!--<li class="">
        <a class="menu" href="/cho-dogs">
            <div>
                <div class="menu_icon hidden-xs hidden-sm">

                    <img alt="Chó" src="//bizweb.dktcdn.net/100/240/380/themes/570657/assets/main_menu_icon_2.png?1646886129389">

                </div>
                Chó
            </div>
        </a>
        <i class="fa fa-angle-right hidden-lg hidden-md submenu_toggle" style="position:absolute; right: 0; font-size: 16px; width: 25px; margin:0;"></i>
        <ul>


            <li class=""><a class="sub-menu" href="/hat-kho-dry-food"><div>Hạt Khô - Dry Food</div></a></li>



            <li class=""><a class="sub-menu" href="/thuc-an-dang-pate"><div>Thức Ăn Ướt - Pate Wet Foods</div></a></li>



            <li class=""><a class="sub-menu" href="/xuong-banh-thuong"><div>Xương &amp; Bánh thưởng - Snacks &amp; Treats</div></a></li>



            <li class=""><a class="sub-menu" href="/do-choi"><div>Đồ Chơi - Toys</div></a></li>



            <li class=""><a class="sub-menu" href="/chuong-long-van-chuyen"><div>Chuồng Rào - Crates &amp; Gates</div></a></li>



            <li class=""><a class="sub-menu" href="/ve-sinh-huan-luyen"><div>Vệ Sinh - Training Toilets</div></a></li>


        </ul>
    </li>-->
    <!-- end normal sub menu -->
    <!-- normal sub menu -->
    <!--<li class="">
        <a class="menu" href="/meo-cats">
            <div>
                <div class="menu_icon hidden-xs hidden-sm">

                    <img alt="Mèo" src="//bizweb.dktcdn.net/100/240/380/themes/570657/assets/main_menu_icon_3.png?1646886129389">

                </div>
                Mèo
            </div>
        </a>
        <i class="fa fa-angle-right hidden-lg hidden-md submenu_toggle" style="position:absolute; right: 0; font-size: 16px; width: 25px; margin:0;"></i>
        <ul>


            <li class=""><a class="sub-menu" href="/hat-kho-dry-food-1"><div>Hạt Khô - Dry Foods</div></a></li>



            <li class=""><a class="sub-menu" href="/thuc-an-dang-pate-meo"><div>Thức Ăn Uớt  - Pate Wet Foods</div></a></li>



            <li class=""><a class="sub-menu" href="/xuong-banh-thuong-1"><div>Bánh Thưởng - Snacks &amp; Treats</div></a></li>



            <li class=""><a class="sub-menu" href="/do-choi-meo"><div>Đồ Chơi - Cat Toys</div></a></li>



            <li class=""><a class="sub-menu" href="/chuong-long-van-chuyen"><div>Chuồng Rào - Crates &amp; Gates</div></a></li>



            <li class=""><a class="sub-menu" href="/ve-sinh-huan-luyen-meo"><div>Vệ Sinh - Training Toilets</div></a></li>



            <li class=""><a class="sub-menu" href="/tru-cao-mong-nha-cay-scratchers-funiture"><div>Trụ Cào Móng,Nhà Cây - Scratchers,Funiture</div></a></li>


        </ul>
    </li>-->
    <!-- end normal sub menu -->
    <!-- normal sub menu -->
    <!--<li class="">
        <a class="menu" href="/tho-small-pet">
            <div>
                <div class="menu_icon hidden-xs hidden-sm">

                    <img alt="Thỏ - Small Pet" src="//bizweb.dktcdn.net/100/240/380/themes/570657/assets/main_menu_icon_4.png?1646886129389">

                </div>
                Thỏ - Small Pet
            </div>
        </a>
        <i class="fa fa-angle-right hidden-lg hidden-md submenu_toggle" style="position:absolute; right: 0; font-size: 16px; width: 25px; margin:0;"></i>
        <ul>
        </ul>
    </li>-->
    <!-- end normal sub menu -->
    <!--<li class="">
                <a href="/hinh-anh">
                    <div>
                        <div class="menu_icon hidden-xs hidden-sm">

                            <img alt="Hình ảnh" src="//bizweb.dktcdn.net/100/240/380/themes/570657/assets/main_menu_icon_5.png?1646886129389">

                        </div>
                        Hình ảnh
                    </div>
                </a>
            </li>
            <li class="">
                <a href="/lien-he-1">
                    <div>
                        <div class="menu_icon hidden-xs hidden-sm">

                            <img alt="Liên hệ" src="//bizweb.dktcdn.net/100/240/380/themes/570657/assets/main_menu_icon_6.png?1646886129389">

                        </div>
                        Liên hệ
                    </div>
                </a>
            </li>


        </ul>
    </nav>-->
    @*<button class="navbar-toggler" type="button" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
        </button>*@
    @*<nav class="menu3a">
            <div class="navbar-collapse" id="navbarNav">
                <ul class="navbar-nav">
                    <li class="nav-item">

                        <a class="nav-link" href="#">
                            <svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" fill="currentColor" class="bi bi-house-door" viewBox="0 1 16 16">
                                <path d="M8.354 1.146a.5.5 0 0 0-.708 0l-6 6A.5.5 0 0 0 1.5 7.5v7a.5.5 0 0 0 .5.5h4.5a.5.5 0 0 0 .5-.5v-4h2v4a.5.5 0 0 0 .5.5H14a.5.5 0 0 0 .5-.5v-7a.5.5 0 0 0-.146-.354L13 5.793V2.5a.5.5 0 0 0-.5-.5h-1a.5.5 0 0 0-.5.5v1.293L8.354 1.146ZM2.5 14V7.707l5.5-5.5 5.5 5.5V14H10v-4a.5.5 0 0 0-.5-.5h-3a.5.5 0 0 0-.5.5v4H2.5Z" />
                            </svg>
                            NHÀ Ổ NỆM
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">
                            <img src="~/Content/images/soap.png" />
                            SỮA TẮM
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">
                            <svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" fill="currentColor" class="bi bi-bag-check-fill" viewBox="0 0 16 16">
                                <path fill-rule="evenodd" d="M10.5 3.5a2.5 2.5 0 0 0-5 0V4h5v-.5zm1 0V4H15v10a2 2 0 0 1-2 2H3a2 2 0 0 1-2-2V4h3.5v-.5a3.5 3.5 0 1 1 7 0zm-.646 5.354a.5.5 0 0 0-.708-.708L7.5 10.793 6.354 9.646a.5.5 0 1 0-.708.708l1.5 1.5a.5.5 0 0 0 .708 0l3-3z" />
                            </svg>
                            TÚI XÁCH - VẬN CHUYỂN
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">
                            <img src="~/Content/images/clothes.png" />
                            QUẦN ÁO - PHỤ KIỆN
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">
                            <img src="~/Content/images/vongco.png" />
                            VÒNG CỔ - DÂY YẾM
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">
                            <img src="~/Content/images/dogbowl.png" />
                            DỤNG CỤ ĂN UỐNG
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">
                            <img src="~/Content/images/keo.png" />
                            DỤNG CỤ LÀM ĐẸP
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">
                            <img src="~/Content/images/health.png" />
                            SỨC KHỎE
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">
                            <img src="~/Content/images/personandpet.png" />
                            DÀNH CHO CHỦ NUÔI
                        </a>
                    </li>
                </ul>
            </div>
        </nav>*@
    @*footer*@

</body>
@RenderBody()
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.1/css/all.min.css" integrity="sha256-2XFplPlrFClt0bIdPgpz8H7ojnk10H69xRqd9+uTShA=" crossorigin="anonymous" />
<footer class="footer">
    <div class="footer-top">
        <div class="container">
            <div class="row">
                <div class="col-sm-6 col-lg-3 my-4">
                    @*<div class="mb-4">
                        <img src="static/img/logo-light.svg" title="" alt="">
                    </div>*@
                    <div class="text-white-65 mb-4" id="logo">
                        <img src="~/Content/images/logo.jpg" />
                    </div>                 
                </div>
                <div class="col-sm-6 col-lg-2 my-4">
                    <h5 class="text-white h6 mb-4">THÔNG TIN</h5>
                    <ul class="list-unstyled white-link footer-links">
                        <li>
                            <a href="">Trang chủ</a>
                        </li>
                        <li>
                            <a href="#">Sản phẩm</a>
                        </li>
                        <li>
                            <a href="#">Tin tức</a>
                        </li>
                        <li>
                            <a href="#">Liên hệ</a>
                        </li>
                    </ul>
                </div>
                <div class="col-sm-6 col-lg-2 my-4">
                    <h5 class="text-white h6 mb-4">HỖ TRỢ</h5>
                    <ul class="list-unstyled white-link footer-links">
                        <li>
                            <a href="#">Hướng dẫn mua hàng</a>
                        </li>
                        <li>
                            <a href="#">Đổi trả và bảo hành</a>
                        </li>
                        <li>
                            <a href="#">Giao nhận và thanh toán</a>
                        </li>
                        <li>
                            <a href="#">Đăng ký thành viên</a>
                        </li>
                    </ul>
                </div>
                <div class="col-sm-6 col-lg-2 my-4">
                    <h5 class="text-white h6 mb-4">LIÊN HỆ</h5>
                    <ul class="list-unstyled white-link footer-links">
                        <li>                            
                            <a href="#"><img src="~/Content/images/locationicon.png" />
                            Q.Bình Thạnh, TP.HCM</a>
                        </li>
                        <li>
                            <a href="#"><img src="~/Content/images/phoneicon.png" />
                            0931870526
                            </a>
                        </li>
                        <li>                           
                            <a href="mailto:MeMeow@gmail.com"><img src="~/Content/images/mailicon.png" />
                            MeMeow@gmail.com</a>
                        </li>
                    </ul>
                </div>
                <div class="col-sm-6 col-lg-3 my-4">
                    <h5 class="text-white h6 mb-4">FANPAGE</h5>
                    <div class="nav footer-socila-icon">
                        <a href="#">
                            <i class="fab fa-facebook-f"></i>
                        </a>
                        <a href="#">
                            <i class="fab fa-twitter"></i>
                        </a>
                        <a href="#">
                            <i class="fab fa-instagram"></i>
                        </a>
                        <a href="#">
                            <i class="fab fa-linkedin-in"></i>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="footer-bottom footer-border-top light py-3">
        <div class="container text-center" style="color: #ffffff">
            <p class="m-0">© 2023 copyright <a href="#" class="text-reset">MeMeow</a></p>
        </div>
    </div>
</footer>
</html>
