<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MeMeow.xyz</title>
    <link href="~/Content/bootstrap.css" rel="stylesheet" />
    <script src="~/Scripts/bootstrap.bundle.min.js"></script>
    <link href="~/CSS/BT.css" rel="stylesheet" />
    <script src="~/Scripts/script.js"></script>
    <script src="~/Scripts/jquery-3.4.1.min.js"></script>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body class="p-3 m-0 border-0 bd-example">
    @*menu1*@
    <nav class="navbar navbar-expand-lg sticky-top bg-body-tertiary" style="background-color: #8EA7E9; ">
        <div class="container-fluid">
            <div id="trangchu" class="align-items-center ">
                <img  alt="Trang chủ" href="/DanhSachSanPham/Index" src="~/Content/images/homeicon.png">
                <a class="navbar-brand" href="/DanhSachSanPham/Index">
                    <b>Trang Chủ</b>
                </a>
            </div>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarTogglerDemo01" aria-controls="navbarTogglerDemo01" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse col-md-8" id="navbarTogglerDemo01">
                <ul class="navbar-nav me-auto my-2 my-lg-0 navbar-nav-scroll" style="--bs-scroll-height: 100px;">

                    <li class="nav-item dropdown" id="dog">
                        <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                            <img alt="Chó" src="~/Content/images/dog icon.png">
                            <b>Chó</b>
                        </a>
                        <ul class="dropdown-menu">
                            @*<li>@Html.Partial("~/Views/GioHang/GioHangPartial.cshtml")</li>*@
                            <li><a class="dropdown-item" href="/DanhSachSanPham/AllCho">DÀNH CHO CHÓ</a></li>
                            <li><a class="dropdown-item" href="/DanhSachSanPham/ThucAnKho">HẠT KHÔ</a></li>
                            <li><a class="dropdown-item" href="/DanhSachSanPham/ThucAnUot">THỨC ĂN ƯỚT</a></li>
                            <li><a class="dropdown-item" href="#">XƯƠNG VÀ BÁNH THƯỞNG</a></li>
                            <li><a class="dropdown-item" href="#">ĐỒ CHƠI</a></li>
                            <li><a class="dropdown-item" href="#">CHUỒNG RÀO</a></li>
                            <li><a class="dropdown-item" href="#">VỆ SINH</a></li>
                        </ul>
                    </li>
                    <li class="nav-item dropdown" id="cat">
                        <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                            <img alt="Mèo" src="~/Content/images/caticon.png">
                            <b>Mèo</b>
                        </a>
                        <ul class="dropdown-menu">
                            <li><a class="dropdown-item" href="#">HẠT KHÔ</a></li>
                            <li><a class="dropdown-item" href="#">THỨC ĂN ƯỚT</a></li>
                            <li><a class="dropdown-item" href="#">XƯƠNG VÀ BÁNH THƯỞNG</a></li>
                            <li><a class="dropdown-item" href="#">ĐỒ CHƠI</a></li>
                            <li><a class="dropdown-item" href="#">CHUỒNG RÀO</a></li>
                            <li><a class="dropdown-item" href="#">VỆ SINH</a></li>
                            <li><a class="dropdown-item" href="#">TRỤ CÀO MÓNG</a></li>
                        </ul>
                    </li>
                    <li class="nav-item dropdown " id="chuot">
                        <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                            <img src="~/Content/images/hamter.png" />
                            <b>Chuột Hamster</b>
                        </a>
                        <ul class="dropdown-menu">
                            <li><a class="dropdown-item" href="#">CHƯA CÓ SẢN PHẨM</a></li>
                        </ul>
                    </li>
                    <form class="d-flex col-md-5 align-items-center" role="search" method="post" action="/DanhSachSanPham/Search">
                        <input class="form-control me-2 " name="keyword" type="search" placeholder="Find the best for your pets.." aria-label="Search">
                        <button class="btn text-white fa fa-search" type="submit"></button>
                    </form>
                    <div class="giohang ">
                        <div class="number-cart align-items-center">
                            <a href="@Url.Action("GioHang","GioHang")">
                                <button type="button" class="btn btn-outline-light ">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="35" height="35" fill="currentColor" class="bi bi-cart-plus-fill" viewBox="0 0 16 16">
                                        <path d="M.5 1a.5.5 0 0 0 0 1h1.11l.401 1.607 1.498 7.985A.5.5 0 0 0 4 12h1a2 2 0 1 0 0 4 2 2 0 0 0 0-4h7a2 2 0 1 0 0 4 2 2 0 0 0 0-4h1a.5.5 0 0 0 .491-.408l1.5-8A.5.5 0 0 0 14.5 3H2.89l-.405-1.621A.5.5 0 0 0 2 1H.5zM6 14a1 1 0 1 1-2 0 1 1 0 0 1 2 0zm7 0a1 1 0 1 1-2 0 1 1 0 0 1 2 0zM9 5.5V7h1.5a.5.5 0 0 1 0 1H9v1.5a.5.5 0 0 1-1 0V8H6.5a.5.5 0 0 1 0-1H8V5.5a.5.5 0 0 1 1 0z" />
                                    </svg>
                                </button>

                            </a>
                            <span class="number-notice ">
                                @Html.Action("GiohangPartial", "Giohang")
                            </span>
                            <div class="">

                            </div>
                            <div class="cart-list">
                                <h3><img src="~/Content/images/giohangtrong.png" />Không có sản phẩm</h3>

                                @*<h4 class="has-cart-list">Sản phẩm đã thêm</h4>
                        <ul class="has-cart-list-item">
                            <li class="has-cart-item">
                                <img src="~/Content/images/sp17.jpg" alt="Alternate Text" class="has-cart-img" />
                                <div class="has-cart-item-info">

                                </div>
                            </li>
                        </ul>*@
                            </div>
                        </div>
                    </div>
                </ul>
                
                <div>
                    <ul id="navbar">
                        @if (Session["TaiKhoan"] == null)
                        {
                            <div class="navbar-nav me-auto my-2 my-lg-0 navbar-nav-scroll  " style="margin: 10px;">
                                <div class="dangky" >
                                    <a class="text-black" href="@Url.Action("Dangky","Nguoidung")">Đăng ký | </a>
                                </div>
                                <div class="dangnhap ">
                                    <a class="text-black" href="@Url.Action("Dangnhap","Nguoidung")">| Đăng nhập</a>
                                </div>
                            </div>                          
                        }
                        else
                        {
                            <li>@Html.ActionLink("" + @Session["TenKH"], "Index", "DanhSachSanPham", new { area = "", @id = Session["TaiKhoan"] }, new { @class = "cusor text-white text-decoration-underline" })</li>
                            
                            <li>@Html.ActionLink("Log out", "Logout", "NguoiDung", new { area = "" }, new { @class = "cusor text-white  " })</li>

                        }
                    </ul>
                </div>             
            </div>
        </div>
    </nav>
    @*banner*@
    <div class="slide">
        <div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="carousel">

            <div class="carousel-inner">
                <div class="carousel-item active" data-bs-interval="5000">
                    <img src="~/Content/images/banner2.png" class="d-block w-100" alt="...">
                </div>
                <div class="carousel-item" data-bs-interval="5000">
                    <img src="~/Content/images/banner1.png" class="d-block w-100" alt="...">
                </div>
                <div class="carousel-item" data-bs-interval="5000">
                    <img src="~/Content/images/banner3.png" class="d-block w-100" alt="...">
                </div>
                <div class="carousel-indicators">
                    <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
                    <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1" aria-label="Slide 2"></button>
                    <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2" aria-label="Slide 3"></button>
                </div>
            </div>
            <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Previous</span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Next</span>
            </button>

        </div>
    </div>

</body>
@RenderBody()
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.1/css/all.min.css" integrity="sha256-2XFplPlrFClt0bIdPgpz8H7ojnk10H69xRqd9+uTShA=" crossorigin="anonymous" />
<footer class="footer">
    <div class="footer-top">
        <div class="container">
            <div class="row">
                <div class="col-sm-6 col-lg-3 my-4">
                    @*<div class="mb-4">
                        <img src="static/img/logo-light.svg" title="" alt="">
                    </div>*@
                    <div class="text-white-65 mb-4" id="logo">
                        <img src="~/Content/images/logo.jpg" />
                    </div>                 
                </div>
                <div class="col-sm-6 col-lg-2 my-4">
                    <h5 class="text-white h6 mb-4">THÔNG TIN</h5>
                    <ul class="list-unstyled white-link footer-links">
                        <li>
                            <a href="/DanhSachSanPham/Index">Trang chủ</a>
                        </li>
                        <li>
                            <a href="/DanhSachSanPham/Index">Sản phẩm</a>
                        </li>
                        <li>
                            <a href="#">Tin tức</a>
                        </li>
                        <li>
                            <a href="#">Liên hệ</a>
                        </li>
                    </ul>
                </div>
                <div class="col-sm-6 col-lg-2 my-4">
                    <h5 class="text-white h6 mb-4">HỖ TRỢ</h5>
                    <ul class="list-unstyled white-link footer-links">
                        <li>
                            <a href="#">Hướng dẫn mua hàng</a>
                        </li>
                        <li>
                            <a href="#">Đổi trả và bảo hành</a>
                        </li>
                        <li>
                            <a href="#">Giao nhận và thanh toán</a>
                        </li>
                        <li>
                            <a href="#">Đăng ký thành viên</a>
                        </li>
                    </ul>
                </div>
                <div class="col-sm-6 col-lg-2 my-4">
                    <h5 class="text-white h6 mb-4">LIÊN HỆ</h5>
                    <ul class="list-unstyled white-link footer-links">
                        <li>                            
                            <a href="#"><img src="~/Content/images/locationicon.png" />
                            Q.Bình Thạnh, TP.HCM</a>
                        </li>
                        <li>
                            <a href="#"><img src="~/Content/images/phoneicon.png" />
                            0931870526
                            </a>
                        </li>
                        <li>                           
                            <a href="mailto:MeMeow@gmail.com"><img src="~/Content/images/mailicon.png" />
                            MeMeow@gmail.com</a>
                        </li>
                    </ul>
                </div>
                <div class="col-sm-6 col-lg-3 my-4">
                    <h5 class="text-white h6 mb-4">FANPAGE</h5>
                    <div class="nav footer-socila-icon">
                        <a href="https://www.facebook.com">
                            <i class="fab fa-facebook-f"></i>
                        </a>
                        <a href="#">
                            <i class="fab fa-twitter"></i>
                        </a>
                        <a href="#">
                            <i class="fab fa-instagram"></i>
                        </a>
                        <a href="#">
                            <i class="fab fa-linkedin-in"></i>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="footer-bottom footer-border-top light py-3">
        <div class="container text-center" style="color: #ffffff">
            <p class="m-0">© 2023 copyright <a href="#" class="text-reset">MeMeow</a></p>
        </div>
    </div>
</footer>
</html>
