@model PetStore.Models.SANPHAM

@{
    ViewBag.Title = "Details";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml";
}

<h2>Details</h2>

<div>
    <h4>SANPHAM</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.DANHMUC.TenDM)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DANHMUC.TenDM)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.LOAIPET.TenLoaiPet)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LOAIPET.TenLoaiPet)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.NHACUNGCAP.TenNCC)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NHACUNGCAP.TenNCC)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TenSP)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TenSP)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DonGia)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DonGia)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.MoTa)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MoTa)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SoLuong)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SoLuong)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Hinh)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Hinh)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.MaSP }) |
    @Html.ActionLink("Back to List", "Index")
</p>
